.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #0f5da7;
}
.App-text-button{
  background: none;
  border: none;
  color: #0f5da7;
  text-decoration: underline;
}
.points{
  float: left;
  font-size: 18px;
  margin-top: 15px; 
  width: 100%;
}

.storyContainer{
  background: #f7f7f7;
  border: 1px solid #474747;
  border-radius: 10px;
  margin: 10px auto;
  overflow: hidden;
  padding: 0 10px 10px 100px;
  position: relative;
  width: 80%;
}

.score{
  border-right: 1px solid #474747;
  height: 100%;
  left: 0;
  line-height: 20px;
  font-size: 50px;
  padding-top: 30px;
  position: absolute;
  width: 100px;
}

.hide{
  display: none;
}

.show{
  display: block;
}

.storyTitle{
  margin-bottom: 5px;
}

.author{
  float: left;
  font-size: 1.5em;
  margin-bottom: 5px;
  width: 100%;
}
.dateCreated{
  font-size: 0.5em;
}

.comments{
  font-size: 1em;
}

.commentList {
  text-align: left;
}